#App{
    background-color: black;
}

#drawingArea{
    border: 1px blue solid;
    background-color: black;
    width: 100%;

}





.projectedBars{
    border: blue 1px solid;
    background-color: black;
    width: 2em;
}